<p>
        <% if ((locals.users && locals.users.id == comment.user.id) || (locals.users && locals.users.id ==  post.user._id) ){%>
            <small>
                <a href="/comments/destroy/<%= comment.id %>">X</a>
                <%= post.user._id %>
            </small>
            <% } %>
       <%= comment.content %>
       <br>
       <small>
           <%= comment.user.name %>
       </small>
</p>