<h1>Sign-Up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" reuired placeholder="Name">
    <input type="email" name="email" reuired placeholder="Your Email">
    <input type="password" name="password" reuired placeholder="Password">
    <input type="password" name = "confirm_password" reuired placeholder="Confirm Password">
    <input type="submit" value="Sign-In">
</form>